<div class="container">

  <h3 class="mt-3">Product Detail</h3>
  <hr class="my-4">

  <div class="row mb-2" productName="{{itemDetails.name}}" cost="{{itemDetails.pointval}}" id="prod-detail">
    <div class="col-md-12">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">

        <div class="card-body d-flex flex-column align-items-start">
          <img class="card-img-right flex-auto d-none d-md-block" alt="alt text" style="width: 700px;"
            src="{{itemDetails.img_url}}">
        </div>

        <div class="card-body d-flex flex-column align-items-start">
          {{!-- <strong class="d-inline-block mb-2 text-primary">{{itemDetails.category_id}}</strong> --}}

          <h3 class="mb-0">
            <a class="text-dark" href="#">{{itemDetails.name}}</a>
          </h3>
          <div class="mb-1 text-muted">Listed by{{itemDetails.user.email}}</div>

          <p class="font-weight-bold mt-4" id="rate">
            Weekly rate: ${{itemDetails.pointval}}
          </p>

          <h4 class="text-dark">
            Product Description
          </h4>
          <p class="card-text mb-auto ">
            {{itemDetails.description}}
          </p>

          <h4 class="text-dark mt-2">
            Product Information
          </h4>
          <ul>
            <li>Make: {{itemDetails.make}}</li>
            <li>Model: {{itemDetails.model}}</li>
            <li>Year: {{itemDetails.year}}</li>
            <li>Capacity: {{itemDetails.capacity}}</li>
          </ul>


          <button type="button" class="btn btn-info" id='checkout-button'>
            Add to Cart
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('pk_live_51Ix9BkIK69n6NqQMdZjzluVbxXckjvnB6fLdeaJJqu1GcBv8LGTbDcmlrwUvYUTOXhBO0lSDMRdC5bFyikWpPZdr001NSvpV1I');
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function () {
    // Create a new Checkout Session using the server-side endpoint you
    // created in step 3.
    var prodName = document.getElementById('prod-detail').getAttribute('productName');
    var prodCost = document.getElementById('prod-detail').getAttribute('cost');
    console.log('prod-name: ', prodName)
    console.log('prod-cost: ', prodCost)

    fetch('/checkout/create-checkout-session', {
      method: 'POST',
      body: JSON.stringify({
        cost: prodCost,
        name: prodName,
      }),
      headers: {
        'content-type': 'application/json'
      }
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using `error.message`.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error('Error:', error);
      });

  });
</script>